<section id="CanvasContainer" class="off-canvas">
    <header id="CanvasHeaderId" class="offCanvasHeader">
        <div class="closeSection">
            <h2>Draw! Draw!</h2>
            <i id="closeCanvasContainerSection" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
            <small class="smallHeaderText">If you resize, your art will be deleted</small>
        </div>

    </header>
    <canvas id="myCanvas"></canvas>
    <footer id="canvasToolBar" class="offCanvasFooter">
        <div id="canvasUpperBar">
            <div>
                <span class="canvasUpperBarText">Color</span>
                <input type="color" name="canvasColorPicker" id="canvasColorPicker">
            </div>
            <div>
                <span class="canvasUpperBarText">Stroke Size</span>
                <input type="range" min="1" max="30" value="5" name="canvasStrokeSize" id="canvasStrokeSize">
            </div>
            <div>
                <span class="canvasUpperBarText">Brush Type</span>
                <div id="canvasBrush">
                    <label for="circleBrush"><input type="radio" name="canvasBrush" value="round" id="circleBrush"
                            checked>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </label>
                    <label for="squareBrush"><input type="radio" name="canvasBrush" value="square" id="squareBrush">
                        <i class="fa fa-square" aria-hidden="true"></i>
                    </label>
                    <label for="flatBrush"><input type="radio" name="canvasBrush" value="butt" id="flatBrush">
                        <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
        </div>
        <div id="canvasLowerBar">
            <div id="canvasErase">
                <span class="canvasUpperBarText">Eraser</span>
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </div>
            <div id="canvasDownload">
                <span class="canvasUpperBarText">Download</span>
                <i class="fa fa-download" aria-hidden="true"></i>
            </div>
            <div id="canvasUpload">
                <span class="canvasUpperBarText">Upload</span>
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>

            <div id="saveToDatabaseBtn" class="activeBtn">
                <span class="canvasUpperBarText">Save Forever?</span>
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </div>

            <div id="cleanCanvas">
                <span class="canvasUpperBarText">Restart</span>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
        </div>
    </footer>



        <!-- https://fontawesome.com/v4.7/icon/circle -->