<section id="CanvasContainer" class="hidden">
    <h2>Draw window</h2>
    <canvas id="myCanvas"></canvas>
    <div id="canvasToolBar">
        <input type="color" name="canvasColorPicker" id="canvasColorPicker">
        <input type="range" min="1" max="30" value="5" name="canvasStrokeSize" id="canvasStrokeSize">
        <select name="canvasFigure" id="canvasFigure">
            <option value="square" selected>Square</option>
            <option value="round">Circle</option>
            <option value="butt">Brush</option>
        </select>
        <button id="canvasErase">Erase!</button>
        <button id="canvasDownload">Download!</button>
        <button id="canvasUpload">Upload!</button>
        <button id="cleanCanvas">Start over!</button>
        <label for="accept">
            <input type="checkbox" id="saveToDatabaseBtn" name="saveToDatabaseBtn"> Save image to database! 
         </label>
    </div>
</section>