<section id="usersOnlineSection" class="off-canvas">
    <header class="offCanvasHeader">
        <div class="closeSection">
            <h3>People online now!</h3>
            <i id="closeUsersOnlineSection" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
        </div>
    </header>
    <section>
        <ul id="ListOfClients">
        </ul>
    </section>
    <!-- TODO, display people offline
        <section>
        <ul id="">
        </ul>
    </section> -->
</section>

<section id="chatSection">
    <div id="chatContainer">
        <button id="loadPreChatBtn">Load earlier chat messages!</button>
    </div>
    <section id="typingContainer">
        <p>People online: <span id="clientsOnline">0</span></p>
        <div id="textAreaContainer">
            <textarea rows="2" id="chatTextarea" name="chatTextarea" rows="4" cols="50"
                placeholder="Type and press Enter"></textarea>
            <button id="sendToWebserverBtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
        <div id="imgImgContainer" class="hidden">
            <img id="msgImgInput" width="200">
            <i id="msgImgInputRemove" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
        </div>
    </section>
</section>