<section id="gallerySection" class="hidden tempFixed tempGallery off-canvas">
    <div class="closeSection">
    <h3>Gallery!</h3>
    <span id="closeGallerySection" class="closeSectionMark">X</span>
    </div>
    <div id="galleryList">
    </div>
</section>
