<section id="gallerySection" class="tempGallery off-canvas">
    <header class="offCanvasHeader">
        <div class="closeSection">
            <h3>Gallery!</h3>
            <i id="closeGallerySection" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
        </div>
    </header>
    <div id="galleryList">
    </div>
</section>