<section id="gallerySection" class="hidden tempFixed tempGallery off-canvas">
    <div class="closeSection">
    <h3>Gallery!</h3>
    <i id="closeGallerySection" class="fa fa-window-close closeSectionMark" aria-hidden="true"></i>
    </div>
    <div id="galleryList">
    </div>
</section>
