 <template id="chatTemplate">
     <section class="chatTemplateContainer">
         <div class="chatHeading">
             <b class="clientName"></b>
             <span class="clientTime"></span>
         </div>
         <div class="chatContent">
             <img class="clientImg hidden">
             <p class="clientMsg"></p>
         </div>
     </section>
 </template>

 <template id="galleryTemplate">
     <div>
         <img class="galleryImg" width="200">
         <p>Submitted by: <b><span class="galleryUsername"></span></b></p>
         <div>
 </template>

 <template id="clientsOnlineTemplate">
     <li class="usernamesOnline">
     </li>
 </template>