    <!-- TODO Fix another template structure -->
    <template id="chatTemplate">
        <section class="chatTemplateContainer">
            <b class="clientName"></b>
            <p class="clientMsg"></p>
            <img class="clientImg hidden">
        </section>
    </template>


        <!-- TODO, change this and server how it handles... Doesn't want it as base64 -->
    <!-- <template id="imgTemplate">
        <img src="" alt="canvas_Image" width="200px">
    </template> -->
    
    <template id="galleryTemplate">
        <li>
            <img class="galleryImg" width="200">
            <p class="galleryUsername"></p>
        </li>
    </template>