 <template id="chatTemplate">
     <section class="chatTemplateContainer">
         <b class="clientName"></b>
         <p class="clientMsg"></p>
         <span class="clientTime"></span>
         <img class="clientImg hidden">
     </section>
 </template>

 <template id="galleryTemplate">
     <div>
         <img class="galleryImg" width="200">
         <p>Submitted by: <b><span class="galleryUsername"></span></b></p>
     <div>
 </template>

 <template id="clientsOnlineTemplate">
     <li class="usernamesOnline">
     </li>
 </template>
