 <template id="chatTemplate">
     <section class="chatTemplateContainer">
         <b class="clientName"></b>
         <p class="clientMsg"></p>
         <span class="clientTime"></span>
         <img class="clientImg hidden">
     </section>
 </template>

 <template id="galleryTemplate">
     <li>
         <img class="galleryImg" width="200">
         <p class="galleryUsername"></p>
     </li>
 </template>


 <template id="clientsOnlineTemplate">
     <li class="usernamesOnline">
     </li>
 </template>