<!-- Hidden -->

<nav id="toolbar" class="bg-light d-flex justify-content-around navbar fixed-bottom">

    <i id="imagesToggleBtn" class="fa fa-picture-o" aria-hidden="true"></i>

    <i id="usersOnlineToggleBtn" class="fa fa-user" aria-hidden="true"></i>

    <i id="paintToggleBtn"  class="fa fa-paint-brush" aria-hidden="true"></i>

    <!-- <i id="chatToggleBtn" class="fa fa-comment" aria-hidden="true"></i> -->

    <!-- <i class="fa fa-car" style="font-size:60px;color:red;"></i> -->

</nav>
