:root {
    --active-color: red;
}

/* Why bootstrap? */
p {
    margin-top: 16px;
}

h1 {
    text-align: center;
}
.fromContainer {
    width: 100%;
    max-width: 600px;
    padding: 1rem 2rem;
}

#errorContainer {
    /* position: fixed; */
    max-width: 400px;
    width: 100%;
}

#errorContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #D8000C;
	background-color: #FFBABA;
    padding: 0.2rem 0.5rem;
    gap: 0.5rem;
}

#errorText {
    margin: 0;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
}

#myCanvas {
    object-fit: contain;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: white;
}

.tempGallery {
    height: 400px;
    overflow: scroll;
}


.activeBtn {
    color: var(--active-color);
}

#toolbar {
    font-size: 2rem;
}

.hidden {
    display: none;
}


.botChatContainer {
    background-color: darkgray;
}

.clientChatContainer {
    background-color: lightblue;
}

.clientMsg {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0.5rem 0;
}

#chatContainer {
    height: 50vh;
    overflow: scroll;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#chatContainer::-webkit-scrollbar {
    display: none;
}

#chatSection {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

#textAreaContainer {
    display: flex;
    flex-direction: row;
}

#chatTextarea {
    width: 100%;
}

#sendToWebserverBtn {
    margin-left: 0.2rem;
    padding: 0.5rem;
}

#toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0.5rem;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#msgImgInputRemove {
    text-align: end;
}

.chatTemplateContainer {
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
}

.off-canvas {
    height: 100vh;
    width: 100%;
    z-index: 99999;
    position: fixed;
    overflow: scroll;
    top: 0;
    padding: 0.5rem 1rem;
    background-color: lightgrey;
}

.closeSection {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.chatHeading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.chatContent {
    margin: 0;
}

.chatContent img {
    width: 100%;
    max-width: 400px;
}

.closeSectionMark {
    font-size: 2rem;
    font-weight: bolder;
    color: red;
    cursor: pointer;
}

.closeSectionMark:hover {
    color: white;
}

img {
    background-color: white;
}

#galleryList {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

#galleryList img {
    width: 100%;
}

#canvasToolBar {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.3rem;
    flex-wrap: wrap;
}

#canvasLowerBar, #canvasUpperBar {
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.3rem;
    padding: 0.5rem;
}

i {
    cursor: pointer;
}
#canvasBrush {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.7rem;
}

#canvasBrush label {
    margin: 0;
}
#canvasBrush  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#canvasBrush [type=radio]:checked + i {
    color: var(--active-color);
  }

.canvasUpperBarText {
    font-size: 0.7rem;
    font-weight: bold;
    display: block;
}

