#myCanvas {
    object-fit: contain;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: white;
}

.tempFixed {
    position: fixed;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 99999;
    background-color: lightgrey;
}

.tempGallery {
    height: 400px;
    overflow: scroll;
}


.activeBtn {
    background-color: red;
}

#toolbar {
    font-size: 40px;
}

.hidden {
    display: none;
}

#chatContainer {
    height: 300px;
    overflow: scroll;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.botChatContainer {
    background-color: lightcoral;
}

.clientChatContainer {
    background-color: lightgreen;
}

.clientMsg {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#msgImgInputRemove {
    text-align: end;
    color: red;
}

#msgImgInputRemove:hover {
    cursor: pointer;
    color: black;
}

