<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log into Chat</title>
</head>

<body>
    <h1>Please, log in to chat!</h1>
    <form id="loginForm" action="/login" method="post">
        <br>
        <input type="text" name="userName" id="userName" required>
        <br>
        <input type="password" name="userPassword" id="userPassword" autocomplete="on" required>
        <br>
        <button type="submit">Log me in!</button>
    </form>
    <h3>Not a user?</h3>
    <a href="/register">Register now!</a>

    <script src="javascript/utilityFunctions.js"></script>
    <script src="javascript/login.js"></script>


</body>

</html>